/* Estrutura do site */

body {
    background: #f4f2ec url('imagens/fundo.png') repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

/* Links */

a:link,
a:visited,
a:active {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

/* Logo */

#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    display: block;
    background: url('imagens/logo.png') no-repeat;
    text-indent: -9999px;
}

/* Barra de Navegação */

header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

/* Principal */

#principal::after {
    content: "";
    display: table;
    clear: both;
}

#conteudo {
    width: 710px;
    float: left;
    background: #fff;
}

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
    padding-bottom: 30px;
}

/* Visita */

section#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 20px;
}

/* Galeria */

section#galeria {
    padding: 0 27px;
}

section#galeria a {
    display: block;
    float: left;
    background: url('imagens/fundo-foto.png') no-repeat;
    padding: 17px 15px;
    margin: 10px 0 0 20px;
}

section#galeria img {
    margin-left: 2px;
    margin-top: 3px;
}

/* Artigos */

article#videos,
article#exposicoes {
    float: left;
    width: 310px;
    margin: 15px 0 0 25px;
}

article#mapa,
article#historia {
    float: left;
    width: 310px;
    margin: 15px 0 0 37px;
}

/* Títulos */

h3 {
    color: #227125;
    font-size: 1em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* Rodapé */

.footer {
    padding: 20px 0 30px 0;
    text-align: center;
    background: url('imagens/fundo-rodape.png') no-repeat center top;
    margin-top: 20px;
}

footer p a {
    margin: 3px;
    padding: 3px;
}

/* Formulários */

input {
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
}

input.botao {
    width: 100%;
    height: 40px;
    background: #9b9271;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

fieldset {
    border: none;
}

legend {
    display: none;
}
